/* * { border: 1px solid red; } */

* { box-sizing: border-box; }

::-webkit-scrollbar {display:none;}
::-moz-scrollbar {display:none;}
::-o-scrollbar {display:none;}
::-ms-scrollbar {display:none;}

html
{
	height: 100vh;
	width: ((100vw + 100vh) / 2);
	overflow: hidden;

	margin: 0px;
	border: 0px;
}

body
{
	min-height: 100%;
	height: 100%;
	width: 100%;

	overflow-y: auto;
	scroll-snap-type: y mandatory;

	background-color: #000000;

	margin: 0px;
	border: 0px;
}

.header
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: calc(100% - ((40/768) * ((100vw + 100vh) / 2)));

	margin: calc((20/768) * ((100vw + 100vh) / 2));;
	border: 0px;

	z-index: 5;
}

.logo
{
	background-image: url("../images/logo.svg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;

	width: calc((100/768) * ((100vw + 100vh) / 2));
	min-height: calc((80/768) * ((100vw + 100vh) / 2));
}

.menu, .headerlinks
{
	position: absolute;
	top: calc((50% - ((6.66/768) * ((100vw + 100vh) / 2))) - 10px);
	right: 0px;
}

.menu .button
{
	margin: 10px;
}

.menu .button, .headerlinks .link
{
	position: relative;

	float: right;

	margin: 10px calc((20/768) * ((100vw + 100vh) / 2));;

	font-family: 'Comfortaa', cursive;
	font-size: calc((13.33/768) * ((100vw + 100vh) / 2));;
}

.menu .button, .headerlinks .link a
{
	color: #ffffff;
	text-decoration: none;
}

section
{
	position: relative;
	top: 0px;
	left: 0px;

	min-height: 100%;
	height: 100%;
	width: 100%;

	margin: 0px;
	border: 0px;

	scroll-snap-align: center;
	overflow: hidden;

	z-index: 1;
}

.background
{
	position: absolute;
	top: -15px;
	bottom: -15px;

	width: calc(100% + 30px);
	height: calc(100% + 30px);

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	z-index: -2;
}

.overlay
{
	position: absolute;
	top: 0px;
	bottom: 0px;

	width: 100%;
	height: 100%;

	background-color: #000000;
	opacity: 0.6;

	z-index: -1;
}

#main .background
{
	background-image: url('../images/background_main.jpg');
}

.content
{
	position: absolute;
	top: 62%;
	right: calc((30/768) * ((100vw + 100vh) / 2));;

	text-align: right;
	color: #ffffff;
}

.title
{
	position: relative;
	top: 0px;
	left: 0px;

	font-size: calc((45/768) * ((100vw + 100vh) / 2)); /* 55px on 768px screen */
	font-family: 'Montserrat', sans-serif;
}

.subtitle
{
	position: relative;
	top: calc((3/768) * ((100vw + 100vh) / 2));
	left: 0px;

	font-size: calc((30/768) * ((100vw + 100vh) / 2));
	font-family: 'Comfortaa', cursive;
}

.sociallinks
{
	position: relative;
	top: calc((10/768) * ((100vw + 100vh) / 2));

	height: calc((30/768) * ((100vw + 100vh) / 2));
}

.sociallinks .link
{
	height: calc((30/768) * ((100vw + 100vh) / 2));
	width: calc((30/768) * ((100vw + 100vh) / 2));

	float: right;

	font-size: calc((30/768) * ((100vw + 100vh) / 2));

	margin: 0px calc((5/768) * ((100vw + 100vh) / 2));
}

.sociallinks .link a
{
	text-decoration: none;
	color: #ffffff;
}

.upbutton
{
	position: absolute;
	left: calc(50% - (20/768) * ((100vw + 100vh) / 2));
	bottom: calc((20/768) * ((100vw + 100vh) / 2));

	width: 0;
	height: 0;

	border-left: calc((20/768) * ((100vw + 100vh) / 2)) solid transparent;
	border-right: calc((20/768) * ((100vw + 100vh) / 2)) solid transparent;
	border-bottom: calc((10/768) * ((100vw + 100vh) / 2)) solid #ffffff;
}

#about .background
{
	background-color: #000000;
}

#aaaa .background
{
	background-color: #ff0000;
}

#contact .background
{
	background-color: #0000ff;
}

#aaaa .title
{
	color: #ffffff;
}
