.background
{
	background-image: url('../content/backgrounds/background_projects.jpg');
}

.content
{
	position: relative;
	top: calc((150/768) * ((100vw + 100vh) / 2));
	right: 0px;

	width: 100%;
	overflow: hidden;

	background-color: transparent;
}

.topsection
{
	position: relative;
	top: 0px;
	left: 0px;

	width: 100%;
	height: calc((260/768) * ((100vw + 100vh) / 2));;
}

.topsection .title
{
	position: relative;
	top: 0px;
	left: 0px;

	width: calc(100% - ((100/768) * ((100vw + 100vh) / 2)));
	height: calc((40/768) * ((100vw + 100vh) / 2));

	text-align: right;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	font-size: calc((40/768) * ((100vw + 100vh) / 2));
	margin: 0px calc((50/768) * ((100vw + 100vh) / 2));
}

.topsection .text
{
	position: absolute;
	top: calc((80/768) * ((100vw + 100vh) / 2));
	right: 0px;

	width: 62%;
	height: calc((15/768) * ((100vw + 100vh) / 2));

	text-align: right;
	font-family: 'Comfortaa', cursive;
	color: #ffffff;
	font-size: calc((15/768) * ((100vw + 100vh) / 2));
	margin: 0px calc((50/768) * ((100vw + 100vh) / 2));
}

.achievements
{
	position: relative;
	top: 0px;
	left: 0px;

	width: calc(100% - ((60/768) * ((100vw + 100vh) / 2)));
	height: auto;

	margin: 0px calc((30/768) * ((100vw + 100vh) / 2));
}

.achievement
{
	position: relative;
	top: 0px;
	left: 0px;

	width: calc(100% - ((20/768) * ((100vw + 100vh) / 2)));
	height: calc(100% - ((20/768) * ((100vw + 100vh) / 2)));

	margin: calc((10/768) * ((100vw + 100vh) / 2));
	border-radius: calc((10/768) * ((100vw + 100vh) / 2));
	overflow: hidden;
}

.achievement .image
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.achievement .aboutoverlay
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background-color: #dd8327;
	opacity: 0.7;
	visibility: hidden;
}

.achievement .name
{
	position: absolute;
	top: 0px;
	left: 0px;

	background-color: #000000;
	opacity: 0.8;
	padding: calc((10/768) * ((100vw + 100vh) / 2));
	border-radius: calc((10/768) * ((100vw + 100vh) / 2));

	margin: calc((10/768) * ((100vw + 100vh) / 2)) calc((20/768) * ((100vw + 100vh) / 2));
}

.achievement .name .title
{
	font-size: calc((20/768) * ((100vw + 100vh) / 2));
	color: #ffffff;
	font-family: 'Muli', sans-serif;

	margin-bottom: calc((10/768) * ((100vw + 100vh) / 2));
}

.achievement .name .text
{
	font-size: calc((10/768) * ((100vw + 100vh) / 2));
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
}

.achievement .about
{
	position: absolute;
	bottom: 0px;
	left: 0px;

	margin: calc((20/768) * ((100vw + 100vh) / 2)) calc((30/768) * ((100vw + 100vh) / 2));
}

.achievement .about
{
	text-align: left;
	visibility: hidden;
}

@media only screen and (min-width:475px)
{
	.achievement .about.alt
	{
		text-align: right;
	}
}


.achievement .about .title
{
	font-size: calc((25/768) * ((100vw + 100vh) / 2));
	color: #ffffff;
	font-family: 'Muli', sans-serif;

	margin-bottom: calc((10/768) * ((100vw + 100vh) / 2));
}

.achievement .about .text
{
	font-size: calc((15/768) * ((100vw + 100vh) / 2));
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
}

.achievement .about .buttonlink
{
	position: relative;

	margin-left: calc((5/768) * ((100vw + 100vh) / 2));
	margin-right: calc((5/768) * ((100vw + 100vh) / 2));
	margin-top: calc((20/768) * ((100vw + 100vh) / 2));
	border: calc((1.5/768) * ((100vw + 100vh) / 2)) solid #ffffff;
	border-radius: calc((10/768) * ((100vw + 100vh) / 2));
	padding: calc((10/768) * ((100vw + 100vh) / 2)) calc((20/768) * ((100vw + 100vh) / 2));

	font-family: 'Raleway', sans-serif;
	font-size: calc((15/768) * ((100vw + 100vh) / 2));
	text-align: center;
}

.achievement .about .buttonlink a
{
	text-decoration: none;
	color: #ffffff;
}

.achievement .about .buttonlink:hover
{
	background-color: #eeeeee;
}

.achievement .about .buttonlink:hover a
{
	color: #000000;
}
