.membercard #nitin
{
	background-image: url('../content/userdata/2017Batch/nitin.jpg');
}

.membercard #deepak
{
	background-image: url('../content/userdata/2017Batch/deepak.jpg');
}

.membercard #devesh
{
	background-image: url('../content/userdata/2017Batch/devesh.jpg');
}

.membercard #kartikeya
{
	background-image: url('../content/userdata/2017Batch/kartikey.jpg');
}

.membercard #omkar
{
	background-image: url('../content/userdata/2017Batch/omkar.jpg');
}

.membercard #prateek
{
	background-image: url('../content/userdata/2017Batch/prateek.jpg');
}

.membercard #sanket
{
	background-image: url('../content/userdata/2017Batch/sanket.jpg');
}

.membercard #shantanu
{
	background-image: url('../content/userdata/2017Batch/shantanu.jpg');
}

.membercard #sushrut
{
	background-image: url('../content/userdata/2017Batch/sushrut.jpg');
}

.membercard #trivikram
{
	background-image: url('../content/userdata/2017Batch/trivikram.jpg');
}

.membercard #neelaksh
{
	background-image: url('../content/userdata/2018Batch/neelaksh.jpg');
}

.membercard #archit
{
	background-image: url('../content/userdata/2018Batch/archit.jpg');
}

.membercard #hritik
{
	background-image: url('../content/userdata/2018Batch/hritik.jpg');
}

.membercard #samyak
{
	background-image: url('../content/userdata/2018Batch/samyak.jpg');
}

.membercard #shivansh
{
	background-image: url('../content/userdata/2018Batch/shivansh.jpg');
}

.membercard #divyesh
{
	background-image: url('../content/userdata/2018Batch/divyesh.jpg');
}

.membercard #sachin
{
	background-image: url('../content/userdata/2018Batch/sachin.jpg');
}

.membercard #deep
{
	background-image: url('../content/userdata/2018Batch/deep.jpg');
}

.membercard #ansh
{
	background-image: url('../content/userdata/2018Batch/ansh.jpg');
}

.membercard #aayush
{
	background-image: url('../content/userdata/2018Batch/aayush.jpg');
}

.membercard #manav
{
	background-image: url('../content/userdata/2018Batch/manav.jpg');
}

.membercard #aman
{
	background-image: url('../content/userdata/2018Batch/aman.jpg');
}

.membercard #ashutosh
{
	background-image: url('../content/userdata/2019Batch/ashutosh.jpg');
}

.membercard #nidheesh
{
	background-image: url('../content/userdata/2019Batch/nidheesh.jpg');
}

.membercard #anirudh
{
	background-image: url('../content/userdata/2019Batch/anirudh.jpg');
}

.membercard #ekansh
{
	background-image: url('../content/userdata/2019Batch/ekansh.jpg');
}

.membercard #hardik
{
	background-image: url('../content/userdata/2019Batch/hardik.jpg');
}

.membercard #nikitha
{
	background-image: url('../content/userdata/2019Batch/nikitha.jpg');
}

.membercard #bhavika
{
	background-image: url('../content/userdata/2019Batch/bhavika.jpg');
}

.membercard #mehul
{
	background-image: url('../content/userdata/2019Batch/mehul.jpg');
}

.membercard #archit_2
{
	background-image: url('../content/userdata/2019Batch/archit.jpg');
}

.membercard #srujan
{
	background-image: url('../content/userdata/2019Batch/srujan.jpg');
}

.membercard #aditya
{
	background-image: url('../content/userdata/2021Batch/aditya.jpeg');
}

.membercard #ojasva
{
	background-image: url('../content/userdata/2021Batch/ojasva.jpeg');
}

.membercard #siddharth
{
	background-image: url('../content/userdata/2021Batch/siddharth.jpeg');
}

.membercard #dheeraj
{
	background-image: url('../content/userdata/2021Batch/dheeraj.png');
}

.membercard #chandrashekar
{
	background-image: url('../content/userdata/2021Batch/chandrashekar.png');
}

