* { box-sizing: border-box; }

::-webkit-scrollbar {display:none;}
::-moz-scrollbar {display:none;}
::-o-scrollbar {display:none;}
::-ms-scrollbar {display:none;}

html
{
	height: 100vh;
	width: 100vw;

	overflow: hidden;

	margin: 0px;
	border: 0px;
}

body
{
	min-height: 100%;
	height: 100%;
	width: 100%;

	background-color: #000000;

	overflow-y: scroll;

	margin: 0px;
	border: 0px;
}

.header
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: calc(100% - ((40/768) * ((100vw + 100vh) / 2)));

	margin: calc((20/768) * ((100vw + 100vh) / 2));;
	border: 0px;

	z-index: 5;
}

.logo
{
	background-image: url("../images/logo.svg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;

	width: calc((100/768) * ((100vw + 100vh) / 2));
	min-height: calc((80/768) * ((100vw + 100vh) / 2));
}

.headerlinks
{
	position: absolute;
	top: calc((50% - ((6.66/768) * ((100vw + 100vh) / 2))) - 10px);
	right: 0px;
}

.button
{
	margin: 10px;
}

.headerlinks .link
{
	position: relative;

	float: right;

	margin: 10px calc((20/768) * ((100vw + 100vh) / 2));;

	font-family: 'Comfortaa', cursive;
	font-size: calc((13.33/768) * ((100vw + 100vh) / 2));;
}

.headerlinks .link a
{
	color: #ffffff;
	text-decoration: none;
}

.background
{
	position: absolute;
	top: -15px;
	bottom: -15px;

	width: calc(100vw + 30px);
	height: calc(100vh + 30px);

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	z-index: -2;
}

.overlay
{
	position: fixed;
	top: -15px;
	bottom: -15px;

	width: calc(100vw + 30px);
	height: calc(100vh + 30px);

	background-color: #000000;
	opacity: 0.6;

	z-index: -1;
}

.background
{
	background-image: url('../images/background_main.jpg');
}

.content
{
	position: relative;
	top: calc((150/768) * ((100vw + 100vh) / 2));
	right: 0px;

	width: 100%;
	height: auto;

	background-color: transparent;
}

.topsection
{
	position: relative;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 32vh;
}

.topsection .title
{
	position: relative;
	top: 0px;
	left: 0px;

	width: calc(100% - ((100/768) * ((100vw + 100vh) / 2)));
	height: calc((40/768) * ((100vw + 100vh) / 2));

	text-align: right;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	font-size: calc((40/768) * ((100vw + 100vh) / 2));
	margin: 0px calc((50/768) * ((100vw + 100vh) / 2));
}

.topsection .text
{
	position: absolute;
	top: calc((60/768) * ((100vw + 100vh) / 2));
	right: 0px;

	width: 62%;
	height: calc((20/768) * ((100vw + 100vh) / 2));

	text-align: right;
	font-family: 'Comfortaa', cursive;
	color: #ffffff;
	font-size: calc((20/768) * ((100vw + 100vh) / 2));
	margin: 0px calc((50/768) * ((100vw + 100vh) / 2));
}

.year
{
	position: relative;
	top: 0px;
	left: 0px;

	width: auto;
	height: auto;

	display: table;
	margin-top: calc((20/768) * ((100vw + 100vh) / 2));
	margin-bottom: calc((20/768) * ((100vw + 100vh) / 2));
	padding-top: calc((50/768) * ((100vw + 100vh) / 2));
	padding-bottom: calc((50/768) * ((100vw + 100vh) / 2));
}

.cover
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background-color: #000000;
	opacity: 0.6;
}

.heading
{
	position: relative;
	top: 0px;
	left: 0px;

	width: 100%;

	margin-bottom: calc((15/768) * ((100vw + 100vh) / 2));

	font-size: calc((30/768) * ((100vw + 100vh) / 2));
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
}

.membercard
{
	position: relative;
	top: 0px;
	left: 0px;

	width: calc((150/768) * ((100vw + 100vh) / 2));
	height: calc((230/768) * ((100vw + 100vh) / 2));

	margin: calc((15/768) * ((100vw + 100vh) / 2));
	overflow: hidden;
}

#juniors, #freshmen
{
	padding-left: calc((40/768) * ((100vw + 100vh) / 2));
	margin-right: calc((80/768) * ((100vw + 100vh) / 2));
}

#juniors .membercard, #freshmen .membercard
{
	float: left;
}

#juniors .heading, #freshmen .heading
{
	text-align: left;
}

#sophomores
{
	padding-right: calc((40/768) * ((100vw + 100vh) / 2));
	margin-left: calc((80/768) * ((100vw + 100vh) / 2));
}

#sophomores .membercard
{
	float: right;
}

#sophomores .heading
{
	text-align: right;
}

.membercard .image
{
	position: relative;
	top: 0px;
	left: 0px;

	width: 100%;
	height: calc(100% - ((35/768) * ((100vw + 100vh) / 2)));

	background-image: url('../images/user1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.membercard .name
{
	position: absolute;
	bottom: calc((12/768) * ((100vw + 100vh) / 2));
	left: 0px;

	width: 100%;

	font-family: 'Muli', sans-serif;
	font-size: calc((12/768) * ((100vw + 100vh) / 2));
	color: #ffffff;
}

.membercard .role
{
	position: absolute;
	bottom: 0px;
	left: 0px;

	width: 100%;

	font-family: 'Muli', sans-serif;
	font-size: calc((8/768) * ((100vw + 100vh) / 2));
	color: #cccccc;
}

.membercard .about
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: calc(100% - ((35/768) * ((100vw + 100vh) / 2)));

	padding: calc((12/768) * ((100vw + 100vh) / 2)) calc((5/768) * ((100vw + 100vh) / 2));

	overflow: scroll;
	visibility: hidden;

	font-family: 'Comfortaa', cursive;
	font-size: calc((10/768) * ((100vw + 100vh) / 2));
	line-height: calc((12/768) * ((100vw + 100vh) / 2));
	text-align: center;
	color: #ffffff;

	z-index: 5;
}

.membercard .about a
{
	font-size: calc((20/768) * ((100vw + 100vh) / 2));
	text-decoration: none;
	color: #ffffff;
}

.membercard .about a:hover
{
	color: #ddb81e;
}

.membercard .about a i
{
	padding: calc((5/768) * ((100vw + 100vh) / 2));
}

.membercard .aboutoverlay
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: calc(100% - ((35/768) * ((100vw + 100vh) / 2)));

	background-color: #0072ab;
	opacity: 0.8;
	visibility: hidden;

	z-index: 4;
}

.footer
{
	position: relative;
	top: 32%;
	left: 0px;

	width: 100%;
	height: 32%;

	background-color: #000000;
}
